//- extends layout

//- block content
	
//- 	nav
//- 			img(src="images/logowps.png", alt="")


//- 	.container
	
//- 		.row
//- 			.col-md-6
//- 				h1 Attacks!
//- 				.appendatt

//- 			.col-md-6
//- 				h1 All Trafic
//- 				.appendtra

	

